section.questionSec {
  width: 100%;
  max-width: $configMaxWidth;
  padding: 3rem 36px;
  @include flex(column, center, center);
  gap: 32px;

  h2 {
    font-size: 2.25rem;
  }

  .questionList {
    width: 100%;
    max-width: 480px;
    margin: 0;
    padding: 0;
    @include flex(column, center, center);
    gap: 8px;
  }

  .questionList--item {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid $colorGray4;
    border-radius: 4px;

    .heading {
      width: 100%;
      color: $colorGray3;
      text-align: start;
      font-size: 1rem;
      font-weight: 700;
      @include flex(row, space-between, center);
      gap: 4px;
      cursor: pointer;
    }

    .text {
      display: none;
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 1s ease-out;
      animation: OpenAnswer 1s ease-in backwards;
      transform-origin: top left;
    }

    p {
      animation: OpenAnswerText 1s ease backwards 0.5s;
      transform-origin: top left;
      margin-top: 8px;
      font-size: 1rem;
      color: $colorGray3;
    }

    &.open {
      .text {
        display: flex;
      }
    }

    @keyframes OpenAnswer {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes OpenAnswerText {
      0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }

      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  @media screen and (max-width: 725px) {
    padding: 3rem 24px;

    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }

    .questionList--item {
      padding: 8px;
    }
  }

  @media screen and (max-width: 425px) {
    h2 {
      font-size: 1.75rem;
    }
  }
}
